<a href="https://colab.research.google.com/github/Dua-Fatima123/Python/blob/main/Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Number Conversions (Binary, Octal, Hex)

In [ ]:
a = 46
b = 0o106



print(hex(a))
print(oct(a))
print(bin(a))
print(b)

0x2e
0o56
0b101110
70

# Built-In Object Types

In [4]:
number = 1000
string = 'Dua'
lis = ['name','number', 21]
tup = ('name', 'number', 21)
dictionary = {'name':string, 'number':number, 'age': 21}
file = open("/Advanced.txt", 'r').read()

In [6]:
with open("/Advanced.txt", 'r') as file:
    file_content = file.read()

print(file_content)

Hello guyzz!!!
i am learning file handling in python
i am doing BS Artificial Intelligence in IUB

In [8]:
# Variable Assignment
firstName = "Dua"
fullName = "Syeda Dua Fatima"

# PRINTING VARIABLES
print(firstName)
print(fullName)

#User Input
score1 = int(input("Enter the score 1: "))
score2 = int(input("Enter the score 2: "))

# Arithmetic Operations and String Formatting
totalString = score1 + score2
messageString = "Total score is %s "

print(messageString % totalString)

# Another Approach for Arithmetic Operations and String Formatting

totalInt = int(score1) + int(score2)
messageString = "Total score is %s "
print(messageString % totalInt)

# User Input and Complex String Formatting

score1 = int(input("Enter the score 1: "))
score2 = int(input("Enter the score 2: "))
total = score1 + score2
messageString = "score1(%s ) + score2[%s ] = %s "
print(messageString % (score1, score2, total))

Dua
Syeda Dua Fatima
Enter the score 1: 12
Enter the score 2: 22
Total score is 34
Total score is 34
Enter the score 1: 44
Enter the score 2: 43
score1(44 ) + score2[43 ] = 87

In [9]:
# Variable Assignment
employeeName = "Dua"
jobTitle = "Machine learning Engineer"

# PRINTING VARIABLES
print("Employee Name:", employeeName)
print("Job Title:", jobTitle)

# User Input
salary1 = int(input("Enter the first month's salary: "))
salary2 = int(input("Enter the second month's salary: "))

# Arithmetic Operations and String Formatting
totalSalary = salary1 + salary2
message = "Total salary for two months is %s dollars"

print(message % totalSalary)

# Another Approach for Arithmetic Operations and String Formatting

totalSalaryInt = int(salary1) + int(salary2)
message = "Total salary for two months is %s dollars"
print(message % totalSalaryInt)

# User Input and Complex String Formatting

bonus1 = int(input("Enter the first month's bonus: "))
bonus2 = int(input("Enter the second month's bonus: "))
totalBonus = bonus1 + bonus2

message = "Employee's earnings: Salary(%s) + Bonus(%s) = Total Earnings(%s) dollars"
print(message % (salary1, bonus2, totalBonus))

Employee Name: Dua
Job Title: Machine learning Engineer
Enter the first month's salary: 120
Enter the second month's salary: 123
Total salary for two months is 243 dollars
Total salary for two months is 243 dollars
Enter the first month's bonus: 50
Enter the second month's bonus: 55
Employee's earnings: Salary(120) + Bonus(55) = Total Earnings(105) dollars

# Direct Number Conversion

In [10]:
print('{:06b}'.format(10))
print('{:07x}'.format(8))
print('{:2x}'.format(2))

001010
0000008
 2

# Direct Number Conversion with zfill

In [11]:
print('{:06b}'.format(10).zfill(14))
print('{:07x}'.format(8).zfill(14))
print('{:2x}'.format(2).zfill(14))

00000000001010
00000000000008
000000000000 2