<a href="https://colab.research.google.com/github/Dua-Fatima123/Python/blob/main/Python(Function).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating a Function

In [ ]:
def function():
    print("Dua Bukhari")

# Calling a Function

In [ ]:
def function():
    print("Dua Bukhari")

function()

Dua Bukhari

# Function with Variable

In [ ]:
def function(age):
    print("Your age is " + age + ".")

age = input("What is your age: ")
function(age)

What is your age: 21
Your age is 21.

In [10]:
def function(name = 'Dua'):
    print("Hello " + name + "!")


function()
name = input("What is your name: ")
function(name)

Hello Dua!
What is your name: Syeda Dua Fatima
Hello Syeda Dua Fatima!

In [11]:
def function(x, y):
    sum = int(x) + int(y)
    return sum


x = input("Enter 1st Number: ")
y = input("Enter 2nd Number: ")

a = function(x, y)

print(a)

Enter 1st Number: 21
Enter 2nd Number: 32
53

In [13]:
#extra
def function(x, y):
    sum = int(x) * int(y)
    return sum


x = input("Enter 1st Number: ")
y = input("Enter 2nd Number: ")

a = function(x, y)

print(a)

Enter 1st Number: 11
Enter 2nd Number: 12
132

In [12]:
def function(x = '0', y = '0'):
    sum = int(x) + int(y)
    return sum


x = input("Enter 1st Number: ")
y = input("Enter 2nd Number: ")

a = function(x, y)

print(a)

Enter 1st Number: 11
Enter 2nd Number: 12
23

In [14]:
#extra
def function(x = '0', y = '0'):
    sum = int(x) / int(y)
    return sum


x = input("Enter 1st Number: ")
y = input("Enter 2nd Number: ")

a = function(x, y)

print(a)

Enter 1st Number: 12
Enter 2nd Number: 4
3.0

# Using Positional Arguments

In [15]:
def describe_pet(animal = 'hamster', name = 'None'):
    """Display information about a pet."""
    print("\nI have a " + animal + ".")
    print("Its name is " + name + ".")


describe_pet('hamster', 'harry')
describe_pet('dog', 'willie')

describe_pet()
describe_pet(animal='lion', name='Simba')

I have a hamster.
Its name is harry.

I have a dog.
Its name is willie.

I have a hamster.
Its name is None.

I have a lion.
Its name is Simba.

In [18]:
#extra
def describe_car(owner='John', make='Toyota', model='Camry'):
    """Display information about a car and its owner."""
    print("\nThis car is owned by " + owner + ".")
    print("It is a " + make + " " + model + ".")

describe_car('Alice', 'Ford', 'Mustang')
describe_car('Bob', 'Honda', 'Civic')

describe_car()
describe_car(owner='Eve', make='Tesla', model='Model 3')

This car is owned by Alice.
It is a Ford Mustang.

This car is owned by Bob.
It is a Honda Civic.

This car is owned by John.
It is a Toyota Camry.

This car is owned by Eve.
It is a Tesla Model 3.

# Using Keyword Arguments

In [20]:
def describe_item(item, color):
    """Display information about an item."""
    print("\nI have a " + color + " " + item + ".")

describe_item(item='bike', color='red')
describe_item(color='blue', item='book')

I have a red bike.

I have a blue book.

# Returning Single Value

In [25]:
def get_full_name(first, last):
    full_name = first + ' ' + last
    return full_name.title()

person = get_full_name('Dua', 'Bukhari')
print(person)

Dua Bukhari

# Return Dictionary for a person

In [26]:

def build_person(first, last, age=None):
    person = {'first': first, 'last': last}
    if age:
        person['age'] = age

    return person


musician = build_person('jimi', 'hendrix', 27)
print(musician)
musician = build_person('janis', 'joplin')
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}
{'first': 'janis', 'last': 'joplin'}

In [28]:
def build_person(first_name, last_name, city=None, age=None):
    person = {'first_name': first_name, 'last_name': last_name}
    if age:
        person['age'] = age
    if city:
        person['city'] = city

    return person

person1 = build_person('Dua', 'Fatima', 'Bahawalpur', 21)
print(person1)

person2 = build_person('Fatima', 'Bukhari', age=25)
print(person2)

person3 = build_person('Sana', 'Saleem')
print(person3)

{'first_name': 'Dua', 'last_name': 'Fatima', 'age': 21, 'city': 'Bahawalpur'}
{'first_name': 'Fatima', 'last_name': 'Bukhari', 'age': 25}
{'first_name': 'Sana', 'last_name': 'Saleem'}